/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*анимация сердца*/
.sparks {
  opacity: 0;
}

.core {
  fill: var(--main-color);
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/*переход в момент лайка*/
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}
/*возврат в исходное состояние после лайка*/
.like-icon .main-body {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

/*анимация в момент лайка*/
.like-icon.is-liked {
  animation: scaling 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: visability 0.3s 0.3s ease-in 1;
}

/********/

@keyframes scaling {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes visability {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}