/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки


добавить разные размеры фав иконок
добавить фильтры для фото
*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--mainfont);
  font-variation-settings: 'wght' var(--mainweight);
  background-image: var(--gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--accentfont);
  font-variation-settings: 'wght' var(--mainweight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid var(--accentcolor);
  text-transform: uppercase;
  padding: clamp(7.5rem, 7.28rem + 0.94vw, 8.125rem) 0;
}

.content-size {
  inline-size: clamp(375px, 70vw,700px);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 17px;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.moods {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 52px;
}

.moods__card {
  border: 2px solid var(--accentcolor);
  background-color: #fff;
}

.card__title {
  font-variation-settings: 'wght' var(--titleweight);
  font-size: 18px;
  display: block;
  padding: 0 10px;
  align-content: center;
  min-block-size: 31px;
}

.card__pic-container {
  position: relative;
}

.card__label {
  position: absolute;
  font-size: 14px;
  top: 25px;
  right: 25px;
  font-family: var(--accentfont);
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
  mix-blend-mode: hard-light;
  opacity: 50%;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
} 

.card__pic {
  inline-size: 100%;
}

.card__description-container {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 22.5px 25px;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__button-container {
  align-self: end;
  display: flex;
  justify-content: end;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  align-self: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--accentcolor);
  transition: border-color 0.3s ease;
}

/*анимация сердца*/
.sparks {
  opacity: 0;
}

.core {
  fill: #fff;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: #fff;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core{
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body{
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core{
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body{
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

/*анимация*/
.like-icon.is-liked .heart {
  animation: scaling 0.3s 0.1s ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: visability 0.3s 0.3s ease-in 1;
}

/********/

.button-style {
  background-color: #fff;
  border: 2px solid var(--accentcolor);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.button-style:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accentcolor);
}

.button-style:before {
	content:'';
  position: absolute;
  inset: 0;
  inline-size: 0%;
  block-size: 100%;
	background: var(--accentcolor);
	transition: inline-size 0.5s ease-in-out;
}

.button-style:hover:before {
	inline-size: 100%;
}

.button-style:hover .button__text {
  color: #fff;
	mix-blend-mode: difference;
}

.button-style:hover .save__floppy {
  color: #fff;
	mix-blend-mode: difference;
} 

.card__like-button {
  padding: 5.5px 35px;
}

.button__text {
  font-family: var( --accentfont);
  font-size: 14px;
  position: relative;
  z-index: 10;
  transition: color 0.5s ease-in-out;
}

.save__container {
  display: flex;
  justify-content: center;
  margin-block-end: 55px;
}

.save__button {
  padding: 11px 22px;
}

.save__floppy {
  transition: color 0.5s ease-in-out;
}

.info-dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.75);
}

.info-form {
  font-family: var(--accentfont);
  font-size: 14px;
  line-height: 150%;
  max-inline-size: 320px;
  text-transform: uppercase;
  display: grid;
  padding: 12px;
  grid-template-columns: 59px 1fr;
  grid-template-rows: 100px 38px;
}

.info-floppy {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-block-start: 10px;
}

.info-text {
  font-style: 14px;
  line-height: 150%;
  grid-column: 2/3;
  grid-row: 1/2;
}

.info-close {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 12.5px 132.5px;
  text-transform: uppercase;
}

@keyframes scaling {
  from {
    scale: 1;
  }
  
  to {
    scale: 1.25;
  }
  
}

@keyframes visability {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}